FinalProject/low_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
FinalProject/med_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
FinalProject/combined_proteins.csv filter=lfs diff=lfs merge=lfs -text
